<div class="footer">

  <%= link_to "/", :action => 'go' do %>
    <div class="tabs <%= current_page?("/") ? 'active' : '' %>">
      <i class="fa-solid fa-magnifying-glass fa-sm"></i>
    </div>
  <% end %>

  <%= link_to "/posts", :action => 'go' do %>
    <div class="tabs <%= current_page?("/posts") ? 'active' : '' %>">
      <i class="fa-solid fa-list fa-sm"></i>
    </div>
  <% end %>

  <%= link_to "/producers", :action => 'go' do %>
    <div class="tabs <%= current_page?("/producers") ? 'active' : '' %>">
      <i class="fa-solid fa-house fa-sm"></i>
    </div>
  <% end %>

  <%= link_to "/favorites", :action => 'go' do %>
    <div class="tabs <%= current_page?("/favorites") ? 'active' : '' %>">
      <i class="fa-solid fa-heart fa-sm"></i>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to "/profile", :action => 'go' do %>
      <div class="tabs <%= current_page?("/profile") ? 'active' : '' %>">
        <%= cl_image_tag current_user.photo.key, class: "avatar" %>
      </div>
    <% end %>
  <% else %>
    <%= link_to "/profile", :action => 'go' do %>
      <div class="tabs <%= current_page?("/profile") ? 'active' : '' %>">
        <i class="fa-solid fa-user fa-sm"></i>
      </div>
    <% end %>
  <% end %>

</div>
