<% producers.each do |producer| %>
  <%= link_to producer_path(producer) , :action => 'go' do %>
    <div class="card-producer animate slide delay-2">
      <!-- Producer favorite -->
      <div class="image">
        <% if producer.photos.attached? %>
            <%= cl_image_tag producer.photos.first.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
      <div class="favorite">
        <% if producer.favorite?(current_user)%>
          <p><i class='fa-regular fa-heart'></i></p>
        <% else %>
          <p><i class='fa-solid fa-heart'></i></p>
        <%end%>
      </div>
    <div class="card-producer-info">
      <p><strong><%= producer.name %></strong></p>
      <p><%= producer.address %></p>
      <p><%= producer.category_list %></p>
    </div>
  </div>
  <% end %>
<% end %>
