<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <!-- Add address from previous search bar -->
      <%= params[:query] %>
      <br>

      <!-- Search bar -->
      <%= form_tag producers_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "searchbar-index",
          placeholder: "Enter a product" %>
        <%= submit_tag "Search", class: "d-none" %>
      <% end %>

      <h2>Categories</h2>

<<<<<<< HEAD
      <div class="filters" data-controller="filter">
        <% @categories.each do |category| %>
          <input type="checkbox" name="" id="<%=category.id %>" class="filter" >
          <label for="<%=category.id %>" ><%= category %></label>
        <% end %>
=======
      <div class="filters" data-controller= "filter-button">
        <div data-filter-button-target= "categories">
          <% @categories.each do |category| %>
            <input type="checkbox" name="" id="<%=category.id %>" class="filter" data-action="click->filter-button#filter">
            <label for="<%=category.id %>" ><%= category %></label>
          <% end %>
        </div>
>>>>>>> b8d06495217c273f76e1f4a25aa26196ca56cedc
      </div>

    <h2>Producers</h2>
      <div data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            <div class="sticky">
              <button id="bouton-map" data-action="click->mapbox#display"><i class="fa-solid fa-map-location-dot white-icon"></i> Map</button>
            </div>
          <div style="width: 100%; height: 100vh; position: absolute; top: -100vh"
            data-mapbox-target= "map">
        </div>
      </div>
      <!-- list of producers -->

      <div class="cards">
        <% @producers.each do |producer| %>
          <%= link_to producer_path(producer) , :action => 'go' do %>
            <div class="card-producer">

              <!-- Producer favorite -->
              <div class="favorite">
                <% if producer.favorite?(current_user)%>
                  <p><i class='fa-regular fa-heart'></i></p>
                <% else %>
                  <p><i class='fa-solid fa-heart'></i></p>
                <%end%>
              </div>
              <div class="image">
                <% if producer.photos.attached? %>
                    <%= cl_image_tag producer.photos.first.key, height: 300, width: 400, crop: :fill %>
                <% end %>
              </div>

            <div class="card-producer-info">
              <p><strong><%= producer.name %></strong></p>
              <p><%= producer.producer_type  %></p>
              <p><%= producer.address %></p>
              <p><%= producer.category_list %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>

      <!-- Add new producer profile -->

      <div class="">
        <% if policy(Producer).create? %>
          <%= link_to "New producer", new_producer_path, class: "btn btn-red"%>
        <% end %>
      </div>
    </div>
     <div class="col-12">

  </div>
  </div>
</div>
