<div class="container">
  <div class="row justify-content-center">

    <div class="col-12 col-lg-6 " data-controller="search-producers">

      <!-- Address & searchbar  -->
      <div class="search"  data-controller="disable-address" >
        <% if @address.present? %>
          <a class="btn-link-search" data-action="click->disable-address#disable" data-disable-address-target="button"><i class="fa-solid fa-map-pin"></i>&nbsp&nbsp<%= params[:address] %></a>
        <% else %>
          <a class="btn-link-search" data-action="click->disable-address#disable" data-disable-address-target="button"><i class="fa-solid fa-map-pin"></i>&nbsp&nbsp Search by address</a>
        <% end %>

          <%= form_tag producers_path, method: :get, data: { search_producers_target: 'form' }, id: "search-form" do %>
            <div class="search-home d-none" data-controller="geocoder" data-geocoder-api-key-value="<%=ENV['MAPBOX_API_KEY']%>" data-disable-address-target="input">
              <%= submit_tag "Update", id: "btn-update", class: "btn btn-update", :name => nil%>
              <%= hidden_field_tag :address,
                    params[:address],
                    class: "form-control",
                    id: "searchbar-index",
                    placeholder: "Enter an address",
                    value: @address,
                    data: { geocoder_target: "address" } %>
            </div>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              id: "searchbar-index",
              placeholder: "Find a producer",
              data: { search_producers_target: 'input',
                      action: 'keyup->search-producers#update' }
            %>
          <% end %>
      </div>

      <!-- Tabs Producer/Market -->
      <div class="tabs">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-producers-tab" data-bs-toggle="pill" data-bs-target="#pills-producers" type="button" role="tab" aria-controls="pills-producers" aria-selected="true">Producers</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-markets-tab" data-bs-toggle="pill" data-bs-target="#pills-markets" type="button" role="tab" aria-controls="pills-markets" aria-selected="false">Markets</button>
          </li>
        </ul>
      </div>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-producers" role="tabpanel" aria-labelledby="pills-producers-tab">

        <!-- Tab Producer -->
          <!-- Categories  -->
          <h2>Categories</h2>

          <div class="filters" data-controller= "filter-button">
            <div >
              <% @categories.each do |category| %>
                <input type="checkbox" name="" id="<%=category.id %>" class="filter" data-filter-button-target= "category" data-action="click->filter-button#filter">
                <label for="<%=category.id %>" ><%= category %></label>
              <% end %>
            </div>
          </div>

          <!-- list of producers -->
          <h2 class="producers">Producers</h2>

          <!-- map of producers -->
          <div data-controller="mapbox"
                data-mapbox-markers-value="<%= @markers.to_json %>"
                data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                <div class="sticky">
                  <button id="bouton-map" data-action="click->mapbox#display" data-mapbox-target="button"><i class="fa-solid fa-map-location-dot white-icon"></i> Map</button>
                </div>
              <div style="width: 100%; height: 100vh; position: absolute; top: -100vh"
                data-mapbox-target= "map">
            </div>
          </div>

          <!-- cards of producers -->
          <div class="cards" data-search-producers-target="producers">
              <%= render "producers", producers: @producers %>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-markets" role="tabpanel" aria-labelledby="pills-markets-tab">

          <!-- list of markets -->
          <h2>Markets</h2>

          <!-- map of markets -->
          <div data-controller="mapbox"
                data-mapbox-markers-value="<%= @markers.to_json %>"
                data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                <div class="sticky">
                  <button id="bouton-map" data-action="click->mapbox#display" data-mapbox-target="button"><i class="fa-solid fa-map-location-dot white-icon"></i> Map</button>
                </div>
              <div style="width: 100%; height: 100vh; position: absolute; top: -100vh"
                data-mapbox-target= "map">
            </div>
          </div>

          <!-- list of markets -->
          <div class="cards" data-search-producers-target="markets" >
            <%= render "markets", markets: @markets %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
