<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <!-- Add address from previous search bar -->
      <%= params[:query] %>
      <br>

      <!-- Search bar -->
      <%= form_tag producers_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "searchbar-index",
          placeholder: "Enter a product" %>
        <%= submit_tag "Search", class: "d-none" %>
      <% end %>

      <h2>Categories</h2>

      <div class="filters">
        <% @categories.each do |category| %>
          <a href="" class="filter"> <%= category %> </a>
        <% end %>
      </div>

      <h2>Producers</h2>

      <!-- list of producers -->

      <div class="cards">

        <% @producers.each do |producer| %>
          <%= link_to producer_path(producer) , :action => 'go' do %>
          <div class="card-producer">
              <i class="fa-regular fa-heart"></i>
              <div class="image">
                <% if producer.photos.attached? %>
                    <%= cl_image_tag producer.photos.first.key, height: 300, width: 400, crop: :fill %>
                <% end %>
              </div>

            <div class="card-producer-info">
              <p><strong><%= producer.name %></strong></p>
              <p><%= producer.producer_type  %></p>
              <p><%= producer.address %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>

      <!-- Add new producer profile -->

      <div>
        <% if policy(Producer).create? %>
          <%= link_to "New producer", new_producer_path, class: "btn btn-red"%>
        <% end %>
      </div>

    </div>
  </div>
</div>
