<div class="container">

  <!-- Producer info -->

  <% @producer.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <h1><%=@producer.name.capitalize%>, <%=@producer.producer_type.capitalize%></h1>
  <p><%=@producer.address%></p>
  <br>
  <p><%=@producer.description%></p>
  <br>

  <p>For more informations, contact me at <%=@producer.contact%></p>

   <!-- Add/destroy producer  -->

  <div class="buttons">
    <% if policy(@producer).edit? %>
      <%= link_to "Update", edit_producer_path(@producer), class: "btn btn-red" %>
    <% end %>

    <% if policy(@producer).destroy? %>
      <%= link_to "Delete", producer_path(@producer),
                    method: :delete,
                    data: { confirm: "Are you sure?" } ,
                    class:"btn btn-red"%>
    <% end %>
   <%= link_to 'Back', producers_path, class: "btn btn-red"%>

  </div>

  <h2>Products</h2>
  <!-- New product  -->

  <% if policy(Product).create? %>
    <%= link_to "New Product", new_producer_product_path(@producer, @product), class: "btn btn-red" %>
  <% end %>

  <!-- Product list -->

  <% @producer.products.each do |product| %>
    <div class="card-product">
      <% if product.photo.attached? %>
        <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-product-infos">
        <h3><%= product.name %></h3>
        <p><%= product.category_list %></p>
        <p><%= product.description %></p>
        <p><%= product.price %></p>
        <%= link_to 'Edit',  edit_producer_product_path(@producer, product) %>
        <%= link_to "Delete",
            producer_product_path(@producer, product),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
       </div>
    </div>
  <% end %>

   <% if @producer.favorites.exists? %>

    <% if @producer.favorite?(current_user)%>
      <p><%= link_to 'Add this producer to my favorites', producer_favorites_path(@producer), method: :post %></p>
    <% else %>
      <p><%= link_to 'Remove this producer from my favorites', favorite_path(@producer.user_favorite(current_user)), method: :delete, data: { confirm: "Are you sure?" } %></p>
    <%end%>

    <% else %>
      <% if policy(Favorite).create? %>
        <p><%= link_to 'Add this producer to my favorites', producer_favorites_path(@producer), method: :post %></p>
      <%end%>

  <% end %>



  <h2>Reviews</h2>

  <!-- New review  -->
  <% if policy(Review).create? %>
     <%= link_to 'Leave a review', new_producer_review_path(@producer), class: "btn btn-red" %>
  <%end%>


  <!--  Reviews -->

  <% @producer.reviews.each do |review| %>
    <div class="card-product">
      <div class="card-product-infos">
        <%= review.content %>
        <%= review.rating %>/5
          <% if policy(review).destroy? %>
            <%= link_to "Remove",
                      review_path(review),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: "btn btn-red" %>

      </div>
    </div>
  <% end %>

    <h2>Markets</h2>

     <%= link_to 'Add a market', new_producer_point_of_sale_path(@producer, @point_of_sale), class: "btn btn-red" %>

    <% @producer.point_of_sales.each do |point_of_sale| %>
      <% market = point_of_sale.market %>
      <%= link_to market_path(market) do %>
        <div class="">
          <h2 class=""><%= market.name.upcase %></h2>
            <p class="mt-3"><%= market.address %></p>
        </div>
        <div>
          <h2 class=""><%= market.description %></h2>
        </div>
      <% end %>

      <% if policy(point_of_sale).destroy? %>
        <%= link_to "Delete",
           producer_point_of_sale_path(@producer, point_of_sale),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "btn btn-red" %>
      <%end%>
    <% end %>


</div>
