<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h1 class="pt-3">Blog Posts</h1>
        <% @posts.each do |post| %>
          <div class="card-blog">
            <div class="card-description">
              <h2><%= link_to post.title, post_path(post) %></h2>
              <p><%= post.content %></p>
            </div>
            <div class="card-id">
              <div class="avatar">
                <% if post.user.photo.attached? %>
                  <%= cl_image_tag post.user.photo.key %>
                <% end %>
              </div>
              <div class="create-date">
                <p><%= post.created_at.strftime("%d %b, %Y") %></p>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="sticky">
    <%= link_to ("<i class='fa-solid fa-plus'></i> Add a Post").html_safe, new_post_path, class: "btn-red" %>
  </div>
</div>
