<div class="container">
  <div class="row justify-content-center">
    <%= link_to ("<i class='fa-solid fa-angle-left'></i> Back").html_safe, posts_path, class: "btn-link"%>
    <div>
      <div class="article-image">
        <% if @post.photo.attached? %>
          <%= cl_image_tag @post.photo.key, height: 150, width: 365, crop: :fill %>
        <% end %>
      </div>
      <h2 class="producers"><%= @post.title %></h2>
      <p><%= @post.content %></p>
    </div>

    <div class="buttons sticky">
      <% if policy(@post).edit? %>
        <%= link_to "Edit post", edit_post_path(@post), class: "btn-red" %>
      <% end %>

      <% if policy(@post).destroy? %>
        <%= link_to ("<i class='fa-regular fa-trash-can'></i> Delete post").html_safe, post_path(@post),
                      method: :delete,
                      data: { confirm: "Are you sure?" } ,
                      class:"btn-red"%>
      <% end %>
    </div>
  </div>
</div>
